<!doctype html>
<html>
<head>
    <title>Task Completer</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/1b23973fb1.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<link rel = 'stylesheet' href="profile.css">
</head>
<body>


    <div class="page-header text-center">
      <div id = 'mask'></div>
      <% if(user.local.email) { %>
        <h1><span class="fas fa-star"></span> <%= user.local.email[0].toUpperCase() +  user.local.email.slice(1) %>'s Goals Tracker</h1> <% } %>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    

        <!-- LOCAL INFORMATION -->
        <section style="text-align: center;">
          <h2 style="font-family: 'Bebas Neue', cursive;"></h2>
        <% if (user.local.email) { %>
          <section style="width: 100%; display: flex; margin-left: 33%;">
          <form action="/messages" method="POST">
            <input type="date" name="name">
            <input type="text" placeholder="Input Goal" name="msg">
            <button type="submit" class="btn btn-outline-primary">Submit</button>
          </form>
        <% } %>
      
        <button class="fas fa-radiation-alt test btn btn-outline-primary"></i></button>
        <button class = 'btn btn-outline-primary' id = 'countBtn'></button>
          </section>
        

          <h3 style="font-family: 'Bebas Neue', cursive;">Goals</h3>
          <ul class="messages">
          <% for(var i=0; i<messages.length; i++) {%>
            
            <li class= "list-group-item d-flex justify-content-between align-items-start" style="list-style-type: none;">
                <input type="date" name = 'name'>
                <input style="margin-right: 14%;" type = 'text' name="msg" class = 'input2'>
              <span class="try"><%= messages[i].name %></span>
              <span class="try"><%= messages[i].msg %></span>
              <span class="try hide"><%= messages[i]._id %></span>
              <span><i class="fa fa-trash" aria-hidden="true"></i></span>
              <span><i class="fas fa-check-square"></i></span>
            </li>
          <% } %>
          </ul>

          <!-- <h2>Add a message</h2>
        <% if (user.local.email) { %>
          <form action="/messages" method="POST">
            <input type="text" value="<%= user.local.email %>" name="name">
            <input type="text" placeholder="message" name="msg">
            <button type="submit">Submit</button>
          </form>
        <% } %> -->
        </section>




<script src="main.js"></script>

</body>
</html>
